<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.groupstudy.model.mapper.GroupMemberMapper">

    <select id="findById" resultType="com.example.groupstudy.model.entity.GroupMember">
        SELECT * FROM group_members WHERE member_id = #{memberId}
    </select>

    <select id="findByGroupId" resultType="com.example.groupstudy.model.entity.GroupMember">
        SELECT * FROM group_members WHERE group_id = #{groupId}
    </select>

    <select id="findByUserId" resultType="com.example.groupstudy.model.entity.GroupMember">
        SELECT * FROM group_members WHERE user_id = #{userId}
    </select>

    <select id="findByGroupIdAndUserId" resultType="com.example.groupstudy.model.entity.GroupMember">
        SELECT * FROM group_members WHERE group_id = #{groupId} AND user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.example.groupstudy.model.entity.GroupMember" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO group_members (group_id, user_id, role)
        VALUES (#{groupId}, #{userId}, #{role})
    </insert>

    <update id="update" parameterType="com.example.groupstudy.model.entity.GroupMember">
        UPDATE group_members
        SET role = #{role}
        WHERE member_id = #{memberId}
    </update>

    <delete id="delete">
        DELETE FROM group_members WHERE member_id = #{memberId}
    </delete>

    <delete id="deleteByGroupIdAndUserId">
        DELETE FROM group_members WHERE group_id = #{groupId} AND user_id = #{userId}
    </delete>

</mapper>